<img class="player_bg" src="<%= @bgimage %>"/>
<div class="container workout-container">

  <h1 class="workout-header">Workout Music</h1>

	<div class="youtube">
    <div class="video_box">
      <!--
      <iframe width="560" height="315"
      src="https://www.youtube.com/embed/<%= @video_id %>
      ?loop=1
      &showinfo=0
      &fs=0
      &controlls=0
      &autoplay=1
	    &mute=0
      &rel=0
      &playlist=<%= @video_id %>
      &modestbranding=0
      &start=1"
      frameborder="0" allowfullscreen>
      </iframe>
      -->
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video_id %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

  <%= link_to(image_tag('/re_select_btn.png', class: "re_select_btn"), "/select") %>
  <%= link_to(image_tag('/change_music_btn.png', class: "change_music_btn"), workout_index_path(:theme => @select)) %>

  </div>
</div>
